<!DOCTYPE html>
<html>
  <head>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <script type="text/javascript" src="../javascripts/common.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header-text"><p><%=title%></p></div>

    </div>
    
    <%- include('./partials/navbar.ejs')%>
    <p>Welcome to <%= title %></p>


    <% if (locals.isAuthenticated) { %>
      <p>Welcome  <%=  user.nickname  %></p>
      <%}%>
          
   
  </body>
</html>
