<!DOCTYPE html>
<html>
  <head>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <script type="text/javascript" src="../javascripts/common.js"></script>
  </head>
  <body>
 <div class="container">

    <p>Personal profile with daily consumption and favorite foods should go here.</p>
    
    <%- include('./partials/navbar.ejs')%>
    <div class="searchField">
    <div class="searchbar">
      <input type="text" placeholder="Search meals">
    </div>
  </div>
</div>
  </body>
</html>
