.header {
  position: relative;
  height: 300px; 
  text-align: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/healthy-food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: white; 
  font-size: 120px; 
  text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  outline: 3px;
}
#nickName{
  font-size: small;
  color: grey;
}
#Meal{
  float:right;
  margin-left: 10px;
}

body {
  padding-top: 80px;
}


